<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>
<%= csrf_meta_tag %>

<%= render 'spree/admin/sale_prices/form' %>

<div id="product-sale-prices-table">
  <%= render partial: "table", locals: { product: @product } %>
</div>
